doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title ノベルゲー
    link(rel="stylesheet", href="./views/style.css")
  body
    #mainimage
      img(src="./image/dummy.jpg", width=640, height=480)
    #answers
      p.message #{message}
      each answer in answers
        p.answer #{answer.answer}
    